* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 70%;

  --bg: #d9e6f6;
  --bg-header: #769dd2;
  --bg-home-sections: #fff;
  --text-bio: #000000;
  --text-menu: #fff;
  --line-menu: #769dd2;;
  --input-search: #5579a1;
  --aside-line: ##ecf2fa;
  --text-bio-description: #999;
  --text-count-infos: #5a5a5a;
}
body {
  width: 100vw;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  background: var(--bg);
  align-items: center;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  width: 100%;
  display: flex;
  background-color: var(--bg-header);
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
}

.container-header {
  display: flex ;
  align-items: center ;
  width: 111rem;
}


.logo-login img {
  width: 0.0rem;
  height: 0.0rem;
}

nav {
  display: flex;
  height: 2.8rem;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: grid;
  grid-template-columns: repeat(5, 11rem);
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: var(--text-menu);
  font-size: 1.3rem;
}

header ul a:hover {
  font-weight: bold;
}

header li {
  display: flex;
  justify-content: center;
}

header li + li::before {
  content: "";
  border-left: 0.25rem solid var(--line-menu);
  margin-right: 2rem;
}

.logout {
  margin-left: 1.6rem;
}

.logout a {
  text-decoration: none;
  color: var(--text-menu);
  font-size: 1.3rem;
}

.logout a:hover {
  font-weight: bold;
}

.logout a::before {
  content: "";
  border-left: 0.25rem solid var(--line-menu);
  margin-right: 2rem;
}

form input {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3.4rem;
  background: var(--input-search) url(../assets/home/magnifying-glass.svg)
    no-repeat scroll 0.8rem 0.9rem;
  padding-left: 30px;
  padding: 1rem 3rem;
  margin-left: 2.4rem;
  color: var(--text-menu);
  outline: none;
}

form input::placeholder {
  color: var(--text-menu);
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: 2.4rem;
  width: 100%;
}

.container-main {
  display: flex;
  align-items: center;
  width: 111rem;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40.5rem;
  background: var(--bg-home-sections);
  border-radius: 0.8rem;
  justify-content: start;
}

aside > div + div::after {
  content: "";
  border-bottom: 0.2rem solid gray;
  display: block;
  opacity: 0.5;
}



aside > div:nth-child(2)::before {
  content: "";
  border-bottom: 0.2rem solid gray;
  display: block;
  opacity: 0.5;
}

.perfil  {
  width: 200px; /* Ajuste o tamanho do container conforme necessário */
  height: 20px;
  background-color: #eff7ff; /* Cor de fundo - substitua pelo código da cor desejada */
  text-align: center;
  line-height: 200px; /* Centraliza verticalmente o texto */
  color: #ffffff; /* Cor do texto - substitua pelo código da cor desejada */
}


aside > div:last-child::after {
  content: "";
  border-bottom: none;
  display: block;
}

div .img-profile {
  padding: 1.5rem;
}

.img-profile img {
  width: 15rem;
  height: 15rem;
}

div .info-bio {
  width: 90%;
  text-align: start;
}

div .info-bio h3 {
  padding: 0.8rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-bio);
}

div .info-bio p {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  color: var(--text-bio-description);
}

div .social-media,
div .orgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  padding-top: 0.8rem;
  width: 90%;
}

div .social-media a,
div .orgs a {
  text-decoration: none;
  color: var(--text-bio);
}

.social-media div,
.orgs div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.8rem;
  gap: 0.5rem;
}

div .social-media svg {
  width: 1.8rem;
  height: 1.8rem;
}



.main-middle {
  padding: 0 2.4rem 0 2.4rem;
}

/* SECTION WELCOME */
.welcome {
  background: var(--bg-home-sections);
  border-radius: 0.9rem 8.0rem 0.9rem 0.9rem ;
  padding: 2.4rem;
}
.welcome h2 {
  font-size: 2.8rem;
  font-weight: 400;
  padding-bottom: 3rem;
}

.welcome > p {
  font-size: 1.2rem;
  color: var(--text-bio-description);
}

.Depoimentos > p {
  font-size: 2.2rem;
  color: var(--text-bio-description);
  text-align: center;
  font-size: auto;
}

.welcome > p span {
  font-weight: 700;
}

.count-infos {
  display: flex;
  padding-top: 3rem;
  align-items: center;
  gap: 3rem;
}

.count-infos .img {
  display: flex;
  align-items: center;
}

div .img {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding-right: 20%;
}

.repos p,
.stars p,
.followers p,
.following p {
  font-size: 1.2rem;
  padding: 0.3rem 0 0.5rem 0;
  color: var(--text-count-infos);
}

/* SECTION FOLLOWING / FOLLOWERS */

.info-following,
.info-followers {
  display: flex;
  flex-direction:  row;
  justify-content: space-evenly;
  text-align: center;
  background: var(--bg-home-sections);
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.list-following ul,
.list-followers ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  background: var(--bg-home-sections);
  border-radius: 0.8rem;
  padding: 0.8rem;


}

.list-following li,
.list-followers li {
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;




  
}

.list-following img,
.list-followers img {
  width: 8.4rem;
  height: 10.2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 16px;

}


